<launch>
	<!--our nodes here-->
	
	<!--serializer-->
	<node name = "serializer" pkg = "serializer" type = "serializer_node.py">
	<rosparam file="/home/siue/ros_pkgs/stinger/stinger_params_2.yaml" command="load" />
	</node>	

	<node name = "hokuyo"  pkg = "hokuyo_node" type = "hokuyo_node" output = "screen">
	<param name = "frame_id" value = "base_laser" />
	</node>
	
	<node name = "AI" pkg= "p2_delta" type = "AI" output = "screen"/>
	<node name = "sensor" pkg = "p2_delta" type = "sensor"  />

</launch>
